:root {
    --surface-color:#fff8f8;
    --primary-container: #ffd9e1;
    --on-surface: #22191b;
    --primary: #8c4a5f;
    --on-primary-container: #3a071c;
    --on-primary: #ffffff;
    --secondary: #74565e;
    --on-secondary: #ffffff;
    --secondary-container: #ffd9e1;
    --om-secondary-container: #2b151c;
    --surface-dim: #fff0f2;
    --on-primary-container: #671839;
    --inverse-surface: #382e30;
    --inverse-primary: #ffb1c6;
    --error: #E30B5D;
    --on-error: #ffffff;

}

* {
    box-sizing: border-box;
}

.concert-one-regular {
    font-family: "Concert One", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--surface-color);
    width: 99%;
    height: 99%;
    max-height: 1000px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1em;
    grid-template-areas: 
    'title work'
    'entry household'
    'entry health'
    'entry social'
    'entry personal';
}

.border-solid {
    border: 1px solid #22191b ;
}

.title {
    grid-area: title;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.5em;
    grid-template-areas: 
    'none input'
    'header input'
    'header input';
}

h1 {
    color: var(--on-surface);
    font-size: 3.5rem;
    font-weight: bolder;
    grid-area: header;
    padding: 5px;
    justify-self: center;
}

#entry-form {
    grid-area: input;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
}

label {
    color: var(--on-surface);
}

input, select, textarea {
    background-color: var(--primary-container);
    color: var(--on-primary-container);
    border: none;
    border-radius: 5px;
}

textarea {
    resize: none;
}

button {
    background-color: var(--primary);
    color: var(--on-primary);
    border: none;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: var(--primary-container);
    color: var(--on-primary-container);
}

.banner {
    background-color: var(--secondary);
    color: var(--on-secondary);
    width: 100%;
    padding: 5px;
    text-align: center;
}

.task-entry-category {
    margin-top: 10px;
    width: 100%;
    height: 30%;
    border: 2px solid var(--secondary);
    border-radius: 10px;
    padding: 5px;
    color: var(--secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: flex-start
}

.unchecked {
    background-color: none;
}

.checked {
    background-color: var(--secondary);
}

.title-checked {
    text-decoration: line-through;
}

.task-checkbox-category {
    border: 2px solid var(--secondary);
    border-radius: 50%;
    width: 7%;
    height: 70%;
}

.task-title-category {
    font-size: 1.3rem;
}

.task-date-category {
    font-size: 1.1rem;
    margin-left: auto;
}

.main {
    grid-area: entry;
    background-color: var(--primary-container);
    overflow: auto;
    border-radius: 10px;
}

.main-menu {
    background-color: var(--primary);
    color: var(--on-primary);
    width: 100%;
    height: 6%;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-menu > button {
    border: 2px solid var(--on-primary);
    width: 15%;
}


.main-tasks-flex {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    color: var(--on-primary-container);
    justify-content: flex-start;
    padding: auto;
}

.task-entry-main {
    width: 32%;
    height: 200px;
    background-color: var(--surface-dim);
    border: 3px solid var(--on-primary-container);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    box-sizing: border-box;
    overflow: auto;
    display: inline;
    position: relative;
}

.task-entry-main:hover {
    cursor: pointer;
}

.task-date-main {
    font-size: 1rem;
    position: absolute;
    left: 45%;
    top: 9%;
}

.task-checkbox-main {
    border: 2px solid var(--primary);
    border-radius: 50%;
    width: 10%;
    height: 13%;
    position: absolute;
    left: 83%;
    top: 15%;
}

.task-description-main {
    word-wrap: break-word;
    font-weight: normal;
    font-size: 0.8rem;
    position: absolute;
    width: 90%;
    top: 30%;
    left: 5%;
}

.task-title-main {
    font-size: 1.2rem;
    position: absolute;
    top: 6%;
    left: 5%;
}

.no-border {
    border: none !important;
}

.work-tasks {
    grid-area: work;
}

.household-tasks {
    grid-area: household;
}

.health-tasks {
    grid-area: health;
}

.social-tasks {
    grid-area: social;
}

.personal-tasks {
    grid-area: personal;
}

.work-tasks, .health-tasks, .household-tasks, .social-tasks, .personal-tasks {
    background-color: var(--surface-dim);
    overflow: auto;
    border-radius: 10px;
}

.work-tasks::-webkit-scrollbar, 
.health-tasks::-webkit-scrollbar, 
.household-tasks::-webkit-scrollbar, 
.social-tasks::-webkit-scrollbar, 
.personal-tasks::-webkit-scrollbar {
    width: 10px;
}

.work-tasks::-webkit-scrollbar-thumb, 
.health-tasks::-webkit-scrollbar-thumb, 
.household-tasks::-webkit-scrollbar-thumb, 
.social-tasks::-webkit-scrollbar-thumb, 
.personal-tasks::-webkit-scrollbar-thumb {
    background: var(--secondary);
}

.work-tasks::-webkit-scrollbar-track, 
.health-tasks::-webkit-scrollbar-track, 
.household-tasks::-webkit-scrollbar-track, 
.social-tasks::-webkit-scrollbar-track, 
.personal-tasks::-webkit-scrollbar-track {
    background: var(--surface-dim);
}

.main::-webkit-scrollbar {
    width: 10px;
}

.main::-webkit-scrollbar-thumb {
    background: var(--primary);
}

.main::-webkit-scrollbar-track {
    background: var(--primary-container);
}

.task-entry-main::-webkit-scrollbar {
    width: 10px;
}

.task-entry-main::-webkit-scrollbar-thumb {
    background: var(--on-primary-container);
}

.task-entry-main::-webkit-scrollbar-track {
    background: var(--primary);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
}

::-webkit-scrollbar-track {
    width: 15px;
    background: var(--surface-color);
}

.fixed {
    position: fixed;
    bottom: 5%;
    left: 1%;
    background-color: var(--inverse-surface);
    width: max(150px, 20%);
    height: 10%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mark-completed {
    border: 2px solid var(--inverse-primary);
    color: var(--inverse-primary);
    font-size: max(9px, 1.3vw);
    border-radius: 30px;
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mark-completed:hover {
    background-color: var(--primary-container);
    color: var(--inverse-surface);
    cursor: pointer;
}

.remained-tasks {
    color: var(--inverse-primary);
    font-size: max(9px, 1.3vw);
    border-radius: 30px;
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    margin-right: 3px;
}

.show-task-fixed {
    position: fixed;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    background-color: var(--inverse-surface);
    border: 3px solid var(--inverse-primary);
    color: var(--inverse-primary);
    border-radius: 20px;
    z-index: 3;
}

.task-title-fixed {
    font-size: 1.3rem;
    position: absolute;
    top: 6%;
    left: 5%;
}

.task-date-fixed {
    font-size: 1rem;
    position: absolute;
    left: 45%;
    top: 9%;
}

.task-description-fixed {
    word-wrap: break-word;
    font-weight: normal;
    font-size: 0.8rem;
    position: absolute;
    width: 90%;
    top: 30%;
    left: 5%;
}

.task-checkbox-fixed { 
    border: 2px solid var(--inverse-primary);
    border-radius: 50%;
    width: 10%;
    height: 8%;
    position: absolute;
    left: 83%;
    top: 13%;
}

.delete-task-button {
    background-color: vaR(--inverse-primary);
    color: var(--inverse-surface);
    border: 2px solid var(--on-error);
    border-radius: 10px;
    width: 120px;
    height: 40px;
    position: absolute;
    left: 5%;
    bottom: 5%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.delete-task-button:hover {
    background-color: var(--inverse-surface);
    color: var(--inverse-primary);
    cursor: pointer;
}

.input-title-task-fixed {
    background-color: var(--inverse-surface);
    color: var(--inverse-primary);
    border: none;
    font-size: 1.3rem;
    width: 40%;
    font-family: "Concert One", serif;
}

.textarea-description-task-fixed {
    background-color: var(--inverse-surface);
    color: var(--inverse-primary);
    border: none;
    font-size: 0.8rem;
    width: 90%;
    height: 150px;
    max-width: 90%;
    font-family: "Concert One", serif;
}

.input-date-task-fixed {
    background-color: var(--inverse-surface);
    color: var(--inverse-primary);
    font-size: 1rem;
    font-family: "Concert One", serif;
    width: 100px;
}

.close-button {
    background-color: vaR(--inverse-primary);
    color: var(--inverse-surface);
    border: 2px solid var(--on-error);
    border-radius: 10px;
    width: 120px;
    height: 40px;
    position: absolute;
    right: 5%;
    bottom: 5%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.close-button:hover {
    background-color: var(--inverse-surface);
    color: var(--inverse-primary);
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: 2; 
}

@media (max-width: 700px) {
    .main-tasks-flex {
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: var(--on-primary-container);
        justify-content: center;
        align-items: center;
        padding: auto;
    }
    
    .task-entry-main {
        width: 80%;
        height: 200px;
        background-color: var(--surface-dim);
        border: 3px solid var(--on-primary-container);
        padding: 10px;
        border-radius: 10px;
        font-weight: bold;
        box-sizing: border-box;
        overflow: auto;
        display: inline;
        position: relative;
    }

    
}

@media (max-width: 600px) {
    .task-entry-category {
        margin-top: 10px;
        width: 100%;
        height: 90px;
        border: 2px solid var(--secondary);
        border-radius: 10px;
        box-sizing: border-box;
        color: var(--secondary);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }
    
    .task-checkbox-category {
        border: 2px solid var(--secondary);
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }
    
    .task-title-category {
        font-size: 1rem;
        margin:0;
    }
    
    .task-date-category {
        font-size: 0.9rem;
        margin: 0;
    }

    .show-task-fixed {
        position: fixed;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 400px;
        background-color: var(--inverse-surface);
        border: 3px solid var(--inverse-primary);
        color: var(--inverse-primary);
        border-radius: 20px;
        z-index: 3;
    }
}

@media (min-width: 600px) and (max-width: 700px){
    .task-entry-category {
        margin-top: 10px;
        width: 100%;
        height: 90px;
        border: 2px solid var(--secondary);
        border-radius: 10px;
        box-sizing: border-box;
        color: var(--secondary);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 2px;
    }
    
    .task-checkbox-category {
        border: 2px solid var(--secondary);
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }
    
    .task-title-category {
        font-size: 1.3rem;
        margin:0;
        width: 50%
    }
    
    .task-date-category {
        font-size: 1.2rem;
        width: 80%;
        margin: 0;
    }
}

@media (min-width: 700px) and (max-width: 1440px) {
    .main-tasks-flex {
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: var(--on-primary-container);
        justify-content: center;
        align-items: center;
        padding: auto;
    }
    
    .task-entry-main {
        width: 45%;
        height: 200px;
        background-color: var(--surface-dim);
        border: 3px solid var(--on-primary-container);
        padding: 10px;
        border-radius: 10px;
        font-weight: bold;
        box-sizing: border-box;
        overflow: auto;
        display: inline;
        position: relative;
    }

    .task-checkbox-main {
        width: 23px;
        height: 23px;
    }

    .task-date-main {
        top: 20%;
        left: 5%;
    }

    .task-description-main {
        top: 40%;
    }
}

@media (max-width: 1180px) {
    .main-menu {
        background-color: var(--primary);
        color: var(--on-primary);
        width: 100%;
        height: 10%;
        padding: 10px;
        text-align: center;
        font-size: 1.5rem;
        display: flex;
        gap: 5px;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .main-menu > button {
        border: 2px solid var(--on-primary);
        width: 30%;
    }
}
